<?xml version='1.0' encoding='utf-8'?>
<widget id="jp.co.denpadandy.meat" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">

	<!-- アプリ名 -->
    <name>meat bean</name>

    <!-- 説明 -->
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>

    <!-- 問い合わせ -->
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>

    <!-- スプラッシュ設定 -->
    <preference name="SplashScreen" value="splash" />
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="SplashMaintainAspectRatio" value="true|false" />

    <!-- 画面縦固定 -->
    <preference name="Orientation" value="portrait" />

    <content src="index.html" />
    <access origin="*" />
</widget>
